.message {
   position: absolute;
   top: 100px;
   right: 100px;
   width: 250px;
   height: 50px;
   background: rgb(25, 33, 43);
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}