.login__input {
	color: var(--color-text);
	border: none;
	outline: none;
	background: transparent;
	border: 2px solid white;
	padding: 20px 40px;
	width: 30%;
	font-weight: bold;
	cursor: pointer;
}
